
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseLabel" data-translate="artemisApp.purchase.home.createOrEditLabel">Create or edit a Purchase</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.purchase.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.purchase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="artemisApp.purchase.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.purchase.quantity"
                    required/>
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="artemisApp.purchase.creation" for="field_creation">Creation</label>
                <div class="input-group">
                    <input id="field_creation" type="text" class="form-control" name="creation" datetime-picker="{{dateformat}}" ng-model="vm.purchase.creation" is-open="vm.datePickerOpenStatus.creation"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="artemisApp.purchase.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.purchase.status"
                    />
        </div>

        <div class="form-group">
            <label data-translate="artemisApp.purchase.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.purchase.product" ng-options="product as product.name for product in vm.products track by product.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="artemisApp.purchase.supplier" for="field_supplier">Supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" ng-model="vm.purchase.supplier" ng-options="supplier as supplier.name for supplier in vm.suppliers track by supplier.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="artemisApp.purchase.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.purchase.user" ng-options="user as user.firstName for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
